.subject-select-list__items {
  max-height: 500px;
  overflow-y: scroll;
}

.subject-select-list__footer {
  display: flex;
  justify-content: space-between;

  &--single {
    justify-content: flex-end;
  }
}
